@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  display: block;
  border: 0;
  cursor: pointer;
}

.main-hero__btn-product, .contacts__btn-location {
  font-family: 'DM Sans';
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #d41443;
}

.main-hero__btn-product:hover, .contacts__btn-location:hover, .main-hero__btn-product:focus, .contacts__btn-location:focus {
  background-color: #c7133e;
}

.mob-menu__main-button, .main-hero__btn-made, .about__btn, .contacts__btn-franchise {
  font-family: 'DM Sans';
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #d41443;
  background-color: #fff;
}

.mob-menu__main-button:hover, .main-hero__btn-made:hover, .about__btn:hover, .contacts__btn-franchise:hover, .mob-menu__main-button:focus, .main-hero__btn-made:focus, .about__btn:focus, .contacts__btn-franchise:focus {
  background-color: #ecebeb;
}

.container, .main-hero__container-position {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container, .main-hero__container-position {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container, .main-hero__container-position {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container, .main-hero__container-position {
    width: 1280px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.header {
  width: 100%;
  background-color: #ffb8ca;
  padding-top: 8px;
  padding-bottom: 25px;
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 37px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 20px;
  }
}

.header__logo {
  width: 199px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 293px;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    margin-right: 0;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.site-nav {
  display: none;
}

.site-nav__item {
  color: #fff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:hover,
.site-nav__item:focus {
  color: #d41443;
}

@media screen and (min-width: 1280px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    line-height: 1.30;
    font-weight: 700;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 35px;
}

.header__button {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: inline-block;
    font-family: 'DM Sans';
    border: none;
    cursor: pointer;
    color: #d41443;
    background-color: #fff;
    min-width: 159px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-radius: 22px;
    padding: 12px 37px 11px 37px;
    margin-right: 0;
    margin-left: 32px;
    font-size: 16px;
    line-height: 1.30;
    font-weight: 700;
  }
  .header__button--svg {
    margin-left: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

.mob-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 95;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  width: 250px;
  height: 10,0%;
  padding: 20px 0 20px 20px;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e17992;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .mob-menu {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mob-menu {
    width: 254px;
    height: 1020px;
  }
}

.mob-menu.is-open {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
}

.mob-menu-btn {
  position: relative;
  display: block;
  z-index: 99;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  color: #d41443;
}

@media screen and (min-width: 1280px) {
  .mob-menu-btn {
    display: none;
  }
}

.mob-menu-btn .mob-menu-btn__icon--close {
  display: none;
}

.mob-menu-btn.is-open .mob-menu-btn__icon--close {
  display: block;
}

.mob-menu-btn.is-open .mob-menu-btn__icon--open {
  display: none;
}

.mob-menu-btn__icon--open,
.mob-menu-btn__icon--close {
  fill: #d41443;
}

.mob-menu-btn:focus .mob-menu-btn__icon--open,
.mob-menu-btn:focus .mob-menu-btn__icon--close {
  fill: #ffffff;
}

.mob-menu__main-button {
  display: inline-block;
  min-width: 209px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 22px;
  padding: 12px 37px 11px 38px;
  margin: 40px 0 19px 0;
  font-size: 16px;
  line-height: 1.30;
  font-weight: 700;
}

.mob-menu__main-button--svg {
  margin-left: 32px;
}

.mob-menu__item {
  min-height: 42px;
  padding-top: 13px;
  border-top: 1px solid #E18298;
  color: #fff;
  font-size: 14px;
  line-height: 1.30;
  font-weight: 700;
}

.mob-menu__item:last-child {
  border-bottom: 1px solid #E18298;
}

.mob-menu__item {
  color: #fff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__item:hover,
.mob-menu__item:focus {
  color: #d41443;
}

.main-hero__container {
  background-color: #ffb8ca;
  padding-top: 136px;
  background-image: -moz-element();
}

@media screen and (min-width: 768px) {
  .main-hero__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.main-hero__ice {
  position: absolute;
  top: -111px;
  right: -56px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .main-hero__ice {
    top: -53px;
    right: 189px;
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__ice {
    top: -75px;
    right: 229px;
  }
}

@media screen and (min-width: 768px) {
  .main-hero__icecream-ellipse {
    width: 335px;
    height: 333px;
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__icecream-ellipse {
    width: 534px;
    height: 534px;
  }
}

.main-hero__icecream-ice {
  position: absolute;
  top: 9px;
  left: 83px;
}

@media screen and (min-width: 768px) {
  .main-hero__icecream-ice {
    width: 143px;
    height: 336px;
    top: 37px;
    left: 74px;
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__icecream-ice {
    width: 236px;
    height: 557px;
    top: 54px;
    left: 119px;
  }
}

.main-hero__container-position {
  position: relative;
  z-index: 10;
}

.main-hero__header {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .main-hero__header {
    font-size: 22px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__header {
    font-size: 38px;
    line-height: 1.16;
  }
}

.main-hero__header-accent {
  font-size: 48px;
  line-height: 0.96;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .main-hero__header-accent {
    font-size: 34px;
    line-height: 0.91;
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__header-accent {
    font-size: 58px;
    line-height: 0.9;
  }
}

.main-hero__list {
  padding-bottom: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .main-hero__list {
    padding-bottom: 0;
    margin-top: 7px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__list {
    margin-top: 24px;
    margin-bottom: 40px;
  }
}

.main-hero__btn-product {
  padding: 11px 14px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25px;
  margin-right: 8px;
}

@media screen and (min-width: 1280px) {
  .main-hero__btn-product {
    font-size: 14px;
    line-height: 1.29px;
    padding: 19px 24px;
  }
}

.main-hero__btn-made {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25px;
  padding: 11px 13px;
}

@media screen and (min-width: 1280px) {
  .main-hero__btn-made {
    font-size: 14px;
    line-height: 1.29px;
    padding: 19px 20px;
  }
}

.main-hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-hero__wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-hero__wrapper {
    display: block;
    margin-left: auto;
    margin-right: 15px;
  }
}

.main-hero__wrapper-margin {
  margin-bottom: 16px;
}

.main-hero__text {
  position: relative;
  display: block;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 1280px) {
  .main-hero__text {
    font-size: 46px;
    line-height: 1.15;
  }
}

.main-hero__text::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/hero-ellipse-tab-1x-min.png);
  background-image: -webkit-image-set(url(../images/hero-ellipse-tab-1x-min.webp) 1x);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -3px;
  right: -10px;
  z-index: -1;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-hero__text::after {
    background-image: url(../images/hero-ellipse-tab-2x-min.png);
    background-image: -webkit-image-set(url(../images/hero-ellipse-tab-2x-min.webp) 2x);
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__text::after {
    width: 30px;
    height: 30px;
    top: -7px;
    right: -15px;
    background-image: url(../images/hero-ellipse-desctop-1x-min.png);
    background-image: -webkit-image-set(url(../images/hero-ellipse-desc-1x-min.webp) 1x);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .main-hero__text::after {
    background-image: url(../images/hero-ellipse-desctop-2x-min.png);
    background-image: -webkit-image-set(url(../images/hero-ellipse-desc-2x-min.webp) 2x);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1) {
  .main-hero__text::after {
    background-image: url(../images/hero-ellipse-tab-2x-min.png);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 1280px) {
  .main-hero__text::after {
    background-image: url(../images/hero-ellipse-desctop-2x-min.png);
  }
}

.main-hero__text-color {
  display: block;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  .main-hero__text-color {
    font-size: 14px;
    line-height: 1.29;
  }
}

.main-hero__title {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-hero__title {
    display: block;
    width: 114px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__title {
    width: 200px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.main-hero__btn-modal {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-hero__btn-modal {
    margin-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__btn-modal {
    width: 26px;
    height: 26px;
    margin-top: 19px;
  }
}

.main-hero__bottom {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-hero__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}

.main-hero__girl {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-hero__girl {
    display: block;
    position: absolute;
    bottom: -15px;
    right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .main-hero__girl {
    bottom: -60px;
  }
}

.products {
  padding-top: 80px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.products__subtitle, .products__title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  text-transform: uppercase;
}

.products__subtitle {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #ffa5ba;
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .products__subtitle {
    font-size: 26px;
    line-height: 1.23;
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .products__subtitle {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.products__title {
  font-size: 34px;
  line-height: 1.15;
  color: #d41443;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .products__title {
    font-size: 48px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -16.5px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list {
    margin: -16px;
  }
}

.product-card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 24px;
  width: 280px;
  min-height: 489px;
  margin-top: 140px;
  padding-left: 39px;
  padding-right: 41px;
  padding-bottom: 40px;
}

@media screen and (min-width: 480px) {
  .product-card {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .product-card {
    -ms-flex-preferred-size: calc((100% - 3 * 33px) / 3);
        flex-basis: calc((100% - 3 * 33px) / 3);
    margin: 16.5px;
    margin-top: 138px;
    max-width: 224px;
    min-height: 473px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .product-card {
    -ms-flex-preferred-size: calc((100% - 3 * 32px) / 3);
        flex-basis: calc((100% - 3 * 32px) / 3);
    margin: 16px;
    margin-top: 261px;
    min-width: 395px;
    min-height: 535px;
    padding-left: 76px;
    padding-right: 76px;
    padding-bottom: 60px;
  }
}

.product-card:first-child {
  background-color: #ffb8ca;
}

.product-card:first-child::before {
  content: "";
  position: absolute;
  top: -140px;
  left: 0;
  display: block;
  width: 280px;
  height: 280px;
  background-image: url("/images/products-ice1-mob-1x-min.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .product-card:first-child::before {
    background-image: url("/images/products-ice1-mob-2x-min.png");
  }
}

@media screen and (min-width: 768px) {
  .product-card:first-child::before {
    top: -138px;
    width: 224px;
    height: 224px;
    background-image: url("/images/products-ice1-tab-1x-min.png");
    -webkit-animation: animate-products 5500ms infinite 3000ms;
            animation: animate-products 5500ms infinite 3000ms;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .product-card:first-child::before {
    background-image: url("/images/products-ice1-tab-2x-min.png");
  }
}

@media screen and (min-width: 1280px) {
  .product-card:first-child::before {
    top: -261px;
    width: 395px;
    height: 395px;
    background-image: url("/images/products-ice1-desctop-1x-min.png");
    -webkit-animation: animate-products 5500ms infinite 3000ms;
            animation: animate-products 5500ms infinite 3000ms;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .product-card:first-child::before {
    background-image: url("/images/products-ice1-desctop-2x-min.png");
  }
}

.product-card:nth-child(2) {
  background-color: #F0D1A5;
}

.product-card:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -140px;
  left: 0;
  display: block;
  width: 100%;
  height: 280px;
  background-image: url("/images/products-ice2-mob-1x-min.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .product-card:nth-child(2)::before {
    background-image: url("/images/products-ice2-mob-2x-min.png");
  }
}

@media screen and (min-width: 768px) {
  .product-card:nth-child(2)::before {
    top: -138px;
    width: 100%;
    height: 224px;
    background-image: url("/images/products-ice2-tab-1x-min.png");
    -webkit-animation: animate-products 5500ms infinite 3000ms;
            animation: animate-products 5500ms infinite 3000ms;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .product-card:nth-child(2)::before {
    background-image: url("/images/products-ice2-tab-2x-min.png");
  }
}

@media screen and (min-width: 1280px) {
  .product-card:nth-child(2)::before {
    top: -261px;
    width: 394px;
    height: 394px;
    background-image: url("/images/products-ice2-desctop-1x-min.png");
    -webkit-animation: animate-products 5500ms infinite 3000ms;
            animation: animate-products 5500ms infinite 3000ms;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .product-card:nth-child(2)::before {
    background-image: url("/images/products-ice2-desctop-2x-min.png");
  }
}

.product-card:last-child {
  background-color: #C2E297;
}

.product-card:last-child::before {
  content: "";
  position: absolute;
  top: -140px;
  left: 0;
  display: block;
  width: 100%;
  height: 280px;
  background-image: url("/images/products-ice3-mob-1x-min.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .product-card:last-child::before {
    background-image: url("/images/products-ice3-mob-2x-min.png");
  }
}

@media screen and (min-width: 768px) {
  .product-card:last-child::before {
    top: -138px;
    width: 224px;
    height: 224px;
    background-image: url("/images/products-ice3-tab-1x-min.png");
    -webkit-animation: animate-products 5500ms infinite 3000ms;
            animation: animate-products 5500ms infinite 3000ms;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .product-card:last-child::before {
    background-image: url("/images/products-ice3-tab-2x-min.png");
  }
}

@media screen and (min-width: 1280px) {
  .product-card:last-child::before {
    top: -261px;
    width: 394px;
    height: 394px;
    background-image: url("/images/products-ice3-desctop-1x-min.png");
    -webkit-animation: animate-products 5500ms infinite 3000ms;
            animation: animate-products 5500ms infinite 3000ms;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .product-card:last-child::before {
    background-image: url("/images/products-ice3-desctop-2x-min.png");
  }
}

.product-card__name {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.04em;
  text-align: center;
  padding-top: 160px;
}

@media screen and (min-width: 768px) {
  .product-card__name {
    padding-top: 118px;
  }
}

@media screen and (min-width: 1280px) {
  .product-card__name {
    font-size: 30px;
    line-height: 1.13;
    padding-top: 165px;
  }
}

.product-card__name::after {
  content: "";
  display: block;
  width: 26px;
  height: 6px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/images/product-dots.png");
}

.product-card__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 32px;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .product-card__text {
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .product-card__text {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 60px;
  }
}

.product-card__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: transparent;
  background-color: #fff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.product-card__btn-icon {
  fill: #d41443;
}

@-webkit-keyframes animate-products {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate-products {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section--about {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .section--about {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .section--about {
    padding-top: 60px;
  }
}

.section--about-bg {
  background-image: url(/images/made-milk-mob-2x-min.png);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50% 78%;
  background-size: contain;
  max-width: 1280px;
}

@media screen and (min-width: 768px) {
  .section--about-bg {
    background-image: none;
  }
}

@media screen and (min-width: 1280px) {
  .section--about-bg {
    background-image: url(/images/made-milk-desctop-2x-min.png);
  }
}

.about__title-box {
  width: 200px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about__title-box {
    width: 429px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .about__title-box {
    width: 534px;
    margin-bottom: 60px;
  }
}

.about__title--text {
  color: #ffa5ba;
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.16;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__title--text {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .about__title--text {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  color: #d41443;
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.14;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 58px;
    line-height: 1.13;
  }
}

.about__title:hover span {
  -webkit-animation: bounce .6s;
          animation: bounce .6s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: rotateX(20deg) translateY(2px) rotate(-3deg);
            transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(3deg) scale(1.1);
            transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: rotateX(20deg) translateY(2px) rotate(-3deg);
            transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(3deg) scale(1.1);
            transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

.about__title span {
  display: inline-block;
  -webkit-animation: float .2s ease-in-out infinite;
          animation: float .2s ease-in-out infinite;
}

@-webkit-keyframes float {
  0%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  33% {
    -webkit-transform: translateY(-1px) rotate(-2deg);
            transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    -webkit-transform: translateY(1px) rotate(2deg);
            transform: translateY(1px) rotate(2deg);
  }
}

@keyframes float {
  0%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  33% {
    -webkit-transform: translateY(-1px) rotate(-2deg);
            transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    -webkit-transform: translateY(1px) rotate(2deg);
            transform: translateY(1px) rotate(2deg);
  }
}

.about__title span:nth-child(2) {
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
}

.about__title span:nth-child(3) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.about__title span:nth-child(4) {
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

.about__title span:nth-child(5) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.about__title span:nth-child(6) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.about__title span:nth-child(7) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.about__title span:nth-child(8) {
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.about__title span:nth-child(9) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.about__title span:nth-child(10) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.about__title span:nth-child(11) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.about__title span:nth-child(12) {
  -webkit-animation-delay: .55s;
          animation-delay: .55s;
}

.about__box {
  border-radius: 75px;
  -webkit-transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, -webkit-transform 500ms ease;
  transition: background-color 500ms ease, transform 500ms ease;
  transition: background-color 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
}

@media screen and (min-width: 768px) {
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about__box:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    background-color: rgba(241, 53, 109, 0.1);
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 15px 5px #FF8080, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}

@media screen and (min-width: 1280px) {
  .about__box {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .about__box:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    background-color: rgba(241, 53, 109, 0.1);
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 15px 5px #FF8080, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}

.about__img {
  width: 280px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about__img {
    width: 336px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .about__img {
    width: 501px;
    margin-right: 139px;
    margin-bottom: 0;
  }
}

.about__text {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.58;
  font-weight: 500;
  width: 220px;
}

.about__text--top {
  color: #000;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about__text--top {
    font-size: 14px;
    line-height: 1.78;
    width: 334px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text--top {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 32px;
    width: 463px;
  }
}

.about__text--bottom {
  color: #907e82;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about__text--bottom {
    font-size: 14px;
    line-height: 1.92;
    margin-bottom: 40px;
    width: 334px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text--bottom {
    margin-bottom: 40px;
    width: 463px;
  }
}

@media screen and (min-width: 768px) {
  .about__text {
    width: 334px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text {
    width: 463px;
  }
}

@media screen and (min-width: 1280px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__btn {
  border: 1px solid #fff;
  padding: 13px 37px;
  font-size: 14px;
  line-height: 1.28;
  font-weight: bold;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.about__btn:hover {
  border: 1px solid #c7133e;
}

.about__btn--svg {
  width: 5px;
  height: 8px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .about__btn {
    font-size: 16px;
    line-height: 1.31;
  }
}

@media screen and (min-width: 1280px) {
  .about__btn {
    font-size: 16px;
    line-height: 1.31;
    width: 178px;
  }
}

.advantages {
  background-color: #fff5f6;
}

@media screen and (max-width: 767px) {
  .advantages {
    padding-top: 20px;
  }
}

.advantages__number {
  font-family: "Titan One", cursive;
  color: #d41443;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .advantages__number {
    font-size: 48px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__number {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 16px;
  }
}

.advantages__text {
  color: #000;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.75;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 527px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__list {
    width: 1141px;
  }
}

.advantages__item {
  width: 230px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item {
    width: 288px;
  }
}

.advantages__item::before {
  content: "";
  display: block;
  height: 50px;
  margin-bottom: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .advantages__item::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item::before {
    margin-bottom: 40px;
  }
}

.advantages__item:nth-child(1)::before {
  width: 33px;
  background-image: url("../images/made-icon1-min.png");
}

.advantages__item:nth-child(2)::before {
  width: 50px;
  background-image: url("../images/made-icon2-min.png");
}

.advantages__item:nth-child(3)::before {
  width: 44px;
  background-image: url("../images/made-icon3-min.png");
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.reviews {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .reviews {
    padding-bottom: 24px;
  }
}

.reviews__slider-card {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slide-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__slider-quote-wrap {
  background-color: #fafafa;
  margin: 24px 0px;
  position: relative;
  padding: 51px 58px 18px 65px;
}

.reviews__slider-quote-wrap::before {
  content: '';
  position: absolute;
  width: 54px;
  height: 40px;
  background-image: url("/images/reviews-quote.png");
  background-size: 54px 40px;
  top: 38px;
  left: 53px;
}

@media screen and (min-width: 768px) {
  .reviews__slider-quote-wrap {
    margin: 20px 0px 4px 0px;
    padding: 37px 55px 44px 51px;
  }
  .reviews__slider-quote-wrap::before {
    width: 61px;
    height: 40px;
    background-size: 61px 40px;
    top: 20px;
    left: 6px;
  }
}

.reviews__slider-quote {
  position: relative;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  max-width: 157px;
  background-image: repeating-linear-gradient(0deg, #e1e1e1, transparent 1px 31px);
}

@media screen and (min-width: 768px) {
  .reviews__slider-quote {
    font-size: 14px;
    line-height: 2.16;
    max-width: 514px;
  }
}

.reviews__slider-customer-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  margin: 16px 0px;
}

@media screen and (min-width: 768px) {
  .reviews__slider-customer-name {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.reviews__slider-switch {
  text-align: center;
}

.reviews__slider-switch-dot {
  cursor: pointer;
  text-align: center;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.reviews__slider-switch-dot + .reviews__slider-switch-dot {
  margin-left: 16px;
}

.btn-active,
.reviews__slider-dot:hover {
  background-color: #d31342;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.contacts {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    margin-bottom: 60px;
  }
}

.contacts__item {
  width: 280px;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 32px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item {
    width: 224px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__item {
    width: 395px;
    padding: 40px;
    margin-bottom: 0px;
  }
}

.contacts__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contacts__item-name {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #F0D1A5;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width: 767px) {
  .contacts__item-name {
    font-size: 12px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 1.6;
  }
}

.contacts__wrap {
  padding-top: 24px;
}

.contacts__wrap:not(:last-child) {
  padding-bottom: 24px;
}

.contacts__wrap:first-child {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .contacts__wrap {
    padding-top: 32px;
  }
  .contacts__wrap:not(:last-child) {
    padding-bottom: 32px;
  }
  .contacts__wrap:first-child {
    padding-top: 32px;
  }
}

.contacts__place-town {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000;
  display: block;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .contacts__place-town {
    font-size: 14px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__place-town {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.contacts__place-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contacts__place-desc {
    font-size: 14px;
    line-height: 1.66;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__place-desc {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts__timetable-wrap {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .contacts__timetable-wrap {
    margin-bottom: 12px;
  }
}

.contacts__timetable-day {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000;
  display: block;
}

@media screen and (min-width: 768px) {
  .contacts__timetable-day {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__timetable-day {
    font-size: 16px;
  }
}

.contacts__timetable-time {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .contacts__timetable-time {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__timetable-time {
    font-size: 16px;
  }
}

.contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.83;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__link {
    font-size: 16px;
  }
}

.contacts__btn {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .contacts__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__btn-icon {
  margin-left: 9px;
}

.contacts__btn-icon-rev {
  margin-left: 9px;
}

.contacts__btn-location {
  padding: 14px 35px;
  margin-right: 15px;
  border-radius: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts__btn-location {
    margin-bottom: 10px;
    margin-right: 0px;
    padding: 14px 17px;
    width: 162px;
  }
}

.contacts__btn-location:hover {
  background-color: #c7133e;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
}

.contacts__btn-franchise {
  padding: 14px 39px;
  border-radius: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts__btn-franchise {
    padding: 14px 17px;
    width: 162px;
  }
}

.contacts__btn-franchise:hover {
  background-color: #ecebeb;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
}

.timetable {
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
}

.food-truck {
  background-color: #C2E297;
}

.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(21%, #fff), color-stop(21%, #fff5f6), color-stop(87%, #fff5f6));
  background-image: linear-gradient(to bottom, #fff 21%, #fff5f6 21%, #fff5f6 87%);
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .contact {
    padding-bottom: 20px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .contact {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.contacts__item:hover .contacts__link {
  color: #d41443;
  font-size: 16px;
}

.read-more--open {
  padding: 11px 37px 12px 37px;
  border-radius: 22px;
  background-color: #fff;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.read-more--open .icon {
  fill: currentColor;
  margin-left: 13.5px;
}

.read-more--open:hover, .read-more--open:focus {
  background-color: #ecebeb;
}

.franchise--open {
  padding: 11px 37px 12px 37px;
  border-radius: 22px;
  background-color: #fff;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.franchise--open .icon {
  fill: currentColor;
  margin-left: 13.5px;
}

.franchise--open:hover, .franchise--open:focus {
  background-color: #ecebeb;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  z-index: 10;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  opacity: 0;
  visibility: hidden;
}

.read-more {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 320px;
  padding: 30px 15px 15px 15px;
  background-color: #fff5f6;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  z-index: 20;
  -webkit-transform: translate(100vw 100vh);
          transform: translate(100vw 100vh);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 479px) {
  .read-more {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .read-more {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .read-more {
    width: 590px;
  }
}

.read-more__button--close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff5f6;
  color: #d41443;
}

.read-more__button--close .icon {
  fill: currentColor;
}

.read-more__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 30px;
}

.read-more__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #907e82;
  margin-bottom: 30px;
}

.read-more__video {
  width: 100%;
  height: 315px;
}

.read-more.active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.our-locations {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 320px;
  padding: 30px 15px 15px 15px;
  background-color: #fff5f6;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  z-index: 20;
  -webkit-transform: translate(100vw 100vh);
          transform: translate(100vw 100vh);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 479px) {
  .our-locations {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .our-locations {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .our-locations {
    width: 590px;
  }
}

.our-locations__button--close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff5f6;
  color: #d41443;
}

.our-locations__button--close .icon {
  fill: currentColor;
}

.our-locations__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 30px;
}

.our-locations__map {
  width: 100%;
  height: 450px;
}

.our-locations.active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.franchise {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 320px;
  padding: 30px 15px 15px 15px;
  background-color: #fff5f6;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  z-index: 20;
  -webkit-transform: translate(100vw 100vh);
          transform: translate(100vw 100vh);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 479px) {
  .franchise {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .franchise {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .franchise {
    width: 590px;
  }
}

.franchise__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #907e82;
  margin-bottom: 30px;
}

.franchise__button {
  margin-left: auto;
  margin-right: auto;
  padding: 11px 37px 12px 37px;
  border-radius: 22px;
  background-color: #fff;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.franchise.active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay.active,
.modal.active {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */