@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  min-width: 320px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
  .container--about {
    padding-top: 15px;
    background-color: #fff5f6;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.test-img {
  width: 280px;
  height: 280px;
  background-color: #820086;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .test-img {
    width: 336px;
    height: 336px;
    background-color: orangered;
  }
}

@media screen and (min-width: 1280px) {
  .test-img {
    width: 501px;
    height: 501px;
    margin-right: 139px;
    background-color: teal;
  }
}

.about__title-box {
  width: 200px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about__title-box {
    width: 429px;
  }
}

@media screen and (min-width: 1280px) {
  .about__title-box {
    width: 534px;
  }
}

.about__title--text {
  color: #ffa5ba;
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__title--text {
    font-size: 26px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1280px) {
  .about__title--text {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  color: #d41443;
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 58px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 768px) {
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .about__box {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}

.about__text {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.58;
}

.about__text--top {
  color: #000;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about__text--top {
    font-size: 14px;
    line-height: 1.78;
  }
}

@media screen and (min-width: 1280px) {
  .about__text--top {
    margin-bottom: 32px;
  }
}

.about__text--bottom {
  color: #907e82;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about__text--bottom {
    font-size: 14px;
    line-height: 1.78;
  }
}

@media screen and (min-width: 1280px) {
  .about__text--bottom {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .about__text {
    width: 334px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text {
    width: 463px;
  }
}

@media screen and (min-width: 1280px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__btn {
  border: 0;
  border-radius: 20px;
  color: #d41443;
  background-color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.28;
  font-weight: bold;
  padding: 13px 37px;
  margin-bottom: 40px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .about__btn {
    font-size: 16px;
    line-height: 1.31;
  }
}

@media screen and (min-width: 1280px) {
  .about__btn {
    font-size: 16px;
    line-height: 1.31;
  }
}
/*# sourceMappingURL=main.css.map */