%btn {
  font-family: 'DM Sans';
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: $text-white;
  background-color: $main-btn;
  &:hover,
  &:focus {
    background-color: $main-btn-hover;
  }
}

%btn-reverse {
  font-family: 'DM Sans';
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: $text-main;
  background-color: $secondary-btn;
  &:hover,
    &:focus {
      background-color: $secondary-btn-hover;
    }
}
