<section class="container container--about">
  <div class="about">
    <div class="about__title-box">
      <p class="about__title--text">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
    </div>
    <div class="about__box">
      <div class="test-img"></div>
      <img src="" alt="" />
      <ul class="about__list">
        <li class="">
          <p class="about__text about__text--top">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
        </li>
        <li>
          <p class="about__text about__text--bottom">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt. <br /><br />
            Aliquam erat volutpat. Aenean accumsan.
          </p>
        </li>
        <li>
          <button class="about__btn" type="button">Read more ></button>
        </li>
      </ul>
    </div>
  </div>
</section>
