<section class="section section--about" id="header-how-made">
  <div class="section--about-bg">
    <div class="container">
      <div class="about__title-box">
        <p class="about__title--text">tradition and love</p>
        <h2 class="about__title">
          <span>h</span><span>o</span><span>w</span> <span>i</span><span>t</span>’<span>s</span>
          <span>m</span><span>a</span><span>d</span><span>e</span> <span>?</span>
        </h2>
      </div>
      <div class="about__box">
        <picture class="about__img">
          <source
            srcset="/images/made-cow-desctop-1x-min.png 1x, ./images/made-cow-desctop-2x-min.png 2x"
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="/images/made-cow-tab-1x-min.png 1x, /images/made-cow-tab-2x-min.png 2x"
            media="(min-width: 768px)"
            type="image/png"
          />
          <img class="about__img" src="/images/made-cow-mob-1x-min.png" alt="Cow" />
        </picture>
        <div class="about__list">
          <h3 class="about__text about__text--top">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </h3>
          <p class="about__text about__text--middle">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <p class="about__text about__text--bottom">Aliquam erat volutpat. Aenean accumsan.</p>
          <button class="about__btn js-open-modal" type="button" data-modal="1">
            Read more
            <svg class="about__btn--svg">
              <use href="/images/icons.svg#icon-vector-button"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
