<!--Contacts-->
<section class="section contact">

<div class="container "> 
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
        <li class="contacts__item">
            <p class="contacts__item-name">CAFE</p>
            <ul>
                <li class="contacts__wrap">
                    <span class="contacts__place-town">Chicago</span>
                    <span class="contacts__place-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
                </li>
                <li class="contacts__wrap timetable">
                    <div class="contacts__timetable-wrap">
                        <span class="contacts__timetable-day">Monday - Friday</span>
                        <span class="contacts__timetable-time">06:00 AM - 10:00 PM</span>
                    </div>
                    <div>
                        <span class="contacts__timetable-day">Saturday - Sunday</span>
                        <span class="contacts__timetable-time">08:00 AM - 16:00 PM</span>
                    </div>
                    
                </li>
                <li class="contacts__wrap">
                    <address>
                        <a href="tel:+61(0) 383 766 284" class="contacts__link">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                    </address>
                </li>
            </ul> 
        </li>
        <li class="contacts__item">
            <p class="contacts__item-name food-truck">FOOD TRUCK</p>
            <ul>
                <li class="contacts__wrap">
                    <span class="contacts__place-town">Los Angeles</span>
                    <span class="contacts__place-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
                </li>
                <li class="contacts__wrap timetable">
                    <div class="contacts__timetable-wrap">
                        <span class="contacts__timetable-day">Monday - Friday</span>
                        <span class="contacts__timetable-time">06:00 AM - 10:00 PM</span>
                    </div>
                    <div>
                        <span class="contacts__timetable-day">Saturday - Sunday</span>
                        <span class="contacts__timetable-time">08:00 AM - 16:00 PM</span>
                    </div>
                </li>
                <li class="contacts__wrap">
                    <address>
                        <a href="tel:+61(0) 383 766 284" class="contacts__link">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </li>
        <li class="contacts__item"> 
            <p class="contacts__item-name">CAFE</p>
            <ul>
                <li class="contacts__wrap">
                    <span class="contacts__place-town">New York</span>
                    <span class="contacts__place-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
                </li>
                <li class="contacts__wrap timetable">
                    <div class="contacts__timetable-wrap">
                        <span class="contacts__timetable-day">Monday - Friday</span>
                        <span class="contacts__timetable-time">06:00 AM - 10:00 PM</span>
                    </div>
                    <div>
                        <span class="contacts__timetable-day">Saturday - Sunday</span>
                        <span class="contacts__timetable-time">08:00 AM - 16:00 PM</span>
                    </div>
                </li>
                <li class="contacts__wrap">
                    <address>
                        <a href="tel:+61(0) 383 766 284" class="contacts__link">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </li>
    </ul>
    <div class="contacts__btn">
        <button type="button" class="contacts__btn-location">Our Locations....> 
            <svg>
                <use href="/images/icons.svg#icon-vector-button"></use>
            </svg>
        </button>
        <button type="button" class="contacts__btn-franchise">Franchise....></button>
    </div>
</div>
</section>
