<!--Contacts-->
<section class="section contact">
  <div class="container">
    <h2 class="visually-hidden" id="header-contacts">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__item">
        <p class="contacts__item-name">CAFE</p>
        <ul class="contacts__list">
          <li class="contacts__wrap">
            <span class="contacts__place-town">Chicago</span>
            <span class="contacts__place-desc"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
          </li>
          <li class="contacts__wrap timetable">
            <div class="contacts__timetable-wrap">
              <span class="contacts__timetable-day">Monday - Friday</span>
              <span class="contacts__timetable-time">06:00 AM - 10:00 PM</span>
            </div>
            <div>
              <span class="contacts__timetable-day">Saturday - Sunday</span>
              <span class="contacts__timetable-time">08:00 AM - 16:00 PM</span>
            </div>
          </li>
          <li class="contacts__wrap">
            <address>
              <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a><br />
              <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
            </address>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-name food-truck">FOOD TRUCK</p>
        <ul class="contacts__list">
          <li class="contacts__wrap">
            <span class="contacts__place-town">Los Angeles</span>
            <span class="contacts__place-desc"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
          </li>
          <li class="contacts__wrap timetable">
            <div class="contacts__timetable-wrap">
              <span class="contacts__timetable-day">Monday - Friday</span>
              <span class="contacts__timetable-time">06:00 AM - 10:00 PM</span>
            </div>
            <div>
              <span class="contacts__timetable-day">Saturday - Sunday</span>
              <span class="contacts__timetable-time">08:00 AM - 16:00 PM</span>
            </div>
          </li>
          <li class="contacts__wrap">
            <address>
              <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a><br />
              <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
            </address>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-name">CAFE</p>
        <ul class="contacts__list">
          <li class="contacts__wrap">
            <span class="contacts__place-town">New York</span>
            <span class="contacts__place-desc"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
          </li>
          <li class="contacts__wrap timetable">
            <div class="contacts__timetable-wrap">
              <span class="contacts__timetable-day">Monday - Friday</span>
              <span class="contacts__timetable-time">06:00 AM - 10:00 PM</span>
            </div>
            <div>
              <span class="contacts__timetable-day">Saturday - Sunday</span>
              <span class="contacts__timetable-time">08:00 AM - 16:00 PM</span>
            </div>
          </li>
          <li class="contacts__wrap">
            <address>
              <ul>
                <li><a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a></li>
                <li>
                  <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                </li>
              </ul>
            </address>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__btn">
      <li class="contacts__btn-item-loc">
        <button type="button" class="contacts__btn-location js-open-modal" data-modal="2">
          Our Locations
          <svg class="contacts__btn-icon" width="8px" height="11px">
            <use href="/images/icons.svg#icon-Vector-button-white"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item-fra">
        <button type="button" class="contacts__btn-franchise js-open-modal" data-modal="3">
          Franchise
          <svg class="contacts__btn-icon-rev" width="7px" height="10px">
            <use href="/images/icons.svg#icon-vector-button"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
