<section class="gallery section">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <ul class="gallery__grid" id="jsGalleryGrid">
            <li class="gallery__item gallery__item-1">
                <img srcset="
                ./images/gallery-1-40.png 40w,
                ./images/gallery-1-80.png 80w,
                ./images/gallery-1-85.png 85w,
                ./images/gallery-1-139.png 139w,
                ./images/gallery-1-170.png 170w,
                ./images/gallery-1-278.png 278w"
                    sizes="(min-width: 1200px) 139px, (min-width: 768px) 85px, (min-width: 480px) 85px,  (max-width: 479px) 14vw, 139px"
                    src="./images/gallery-2-139.png" alt="Green ice cream on a stick" />
            </li>
            <li class="gallery__item gallery__item-2">
                <img srcset="
                    ./images/gallery-2-40.png 40w,
                    ./images/gallery-2-80.png 80w,
                    ./images/gallery-2-85.png 85w, 
                    ./images/gallery-2-139.png 139w,
                    ./images/gallery-2-170.png 170w,
                    ./images/gallery-2-278.png 278w"
                    sizes="(min-width: 1200px) 139px, (min-width: 768px) 85px, (min-width: 480px) 85px,  (max-width: 479px) 14vw, 139px"
                    src="./images/gallery-2-139.png" alt="Ice cream cone in hand" />
            </li>
            <li class="gallery__item gallery__item-3">
                <img srcset="
                    ./images/gallery-3-40.png 40w,
                    ./images/gallery-3-80.png 80w,
                    ./images/gallery-3-85.png 85w,
                    ./images/gallery-3-139.png 139w,
                    ./images/gallery-3-170.png 170w,
                    ./images/gallery-3-278.png 278w"
                    sizes="(min-width: 1200px) 139px, (min-width: 768px) 85px, (min-width: 480px) 85px,  (max-width: 479px) 14vw, 139px"
                    src="./images/gallery-3-139.png" alt="Popsicle on a stick" />
            </li>
            <li class="gallery__item gallery__item-4">
                <img srcset="
                    ./images/gallery-4-81.png 81w,
                    ./images/gallery-4-162.png 162w,
                    ./images/gallery-4-175.png 175w,
                    ./images/gallery-4-285.png 285w,
                    ./images/gallery-4-350.png 350w,
                    ./images/gallery-4-570.png 570w"
                    sizes="(min-width: 1200px) 285px, (min-width: 768px) 175px, (min-width: 480px) 175px, (max-width: 479px) 28vw, 285px"
                    src="./images/gallery-4-285.png" alt="Fruit ice cream in cones" />
            </li>
            <li class="gallery__item gallery__item-5">
                <img srcset="
                    ./images/gallery-5-40.png 40w,
                    ./images/gallery-5-80.png 80w,
                    ./images/gallery-5-85.png 85w,
                    ./images/gallery-5-139.png 139w,
                    ./images/gallery-5-170.png 170w,
                    ./images/gallery-5-278.png 278w"
                    sizes="(min-width: 1200px) 139px, (min-width: 768px) 85px, (min-width: 480px) 85px,  (max-width: 479px) 14vw, 139px"
                    src="./images/gallery-5-139.png" alt="Girl with ice cream in a cone" />
            </li>
            <li class="gallery__item gallery__item-6">
                <img srcset="
                    ./images/gallery-6-40.png 40w,
                    ./images/gallery-6-80.png 80w,
                    ./images/gallery-6-85.png 85w,
                    ./images/gallery-6-139.png 139w,
                    ./images/gallery-6-170.png 170w,
                    ./images/gallery-6-278.png 278w"
                    sizes="(min-width: 1200px) 139px, (min-width: 768px) 85px, (min-width: 480px) 85px,  (max-width: 479px) 14vw, 139px"
                    src="./images/gallery-6-139.png" alt="Ice cream with fruit in bowls" />
            </li>
            <li class="gallery__item gallery__item-7">
                <img srcset="
                    ./images/gallery-7-40.png 40w,
                    ./images/gallery-7-80.png 80w,
                    ./images/gallery-7-85.png 85w,
                    ./images/gallery-7-139.png 139w,
                    ./images/gallery-7-170.png 170w, 
                    ./images/gallery-7-278.png 278w"
                    sizes="(min-width: 1200px) 139px, (min-width: 768px) 85px, (min-width: 480px) 85px,  (max-width: 479px) 14vw, 139px"
                    src="./images/gallery-7-139.png"
                    alt="Ice cream cone in hand on the background of the street" />
            </li>
            <li class="gallery__item gallery__item-8">
                <img srcset="
                    ./images/gallery-8-40.png 40w,
                    ./images/gallery-8-80.png 80w,
                    ./images/gallery-8-85.png 85w,
                    ./images/gallery-8-139.png 139w,
                    ./images/gallery-8-170.png 170w,
                    ./images/gallery-8-278.png 278w"
                    sizes="(min-width: 1200px) 139px, (min-width: 768px) 85px, (min-width: 480px) 85px,  (max-width: 479px) 14vw, 139px"
                    src="./images/gallery-8-139.png" 
                    alt="Dog licks ice cream cone" />
            </li>
            <li class="gallery__item gallery__item-9">
                <img srcset="
                    ./images/gallery-9-40.png 40w,
                    ./images/gallery-9-80.png 80w,
                    ./images/gallery-9-85.png 85w,
                    ./images/gallery-9-139.png 139w,
                    ./images/gallery-9-170.png 170w,
                    ./images/gallery-9-278.png 278w"
                    sizes="(min-width: 1200px) 139px, (min-width: 768px) 85px, (min-width: 480px) 85px,  (max-width: 479px) 14vw, 139px"
                    src="./images/gallery-9-139.png" 
                    alt="А glass of chocolate milkshake in hand" />
            </li>
            <li class="gallery__item gallery__item-10">
                <img srcset="
                    ./images/gallery-10-40.png 40w,
                    ./images/gallery-10-80.png 80w,
                    ./images/gallery-10-85.png 85w,
                    ./images/gallery-10-139.png 139w,
                    ./images/gallery-10-170.png 170w,
                    ./images/gallery-10-278.png 278w"
                    sizes="(min-width: 1200px) 139px, (min-width: 768px) 85px, (min-width: 480px) 85px,  (max-width: 479px) 14vw, 139px"
                    src="./images/gallery-10-139.png"
                    alt="Ice cream on a donut on a glass with a milkshake" />
            </li>
        </ul>
    </div>
</section>

