<header class="header  ">
    <div class="header__container container">
    
      
      <nav class="main-nav" >
        <a href="/" class="header__logo">
            <img src="" alt="Логотип">
        </a>
      <ul class="site-nav">
          <li class="site-nav__item current"><a href="">Home</a></li>
          <li class="site-nav__item"><a href="#about-us">About us</a></li>
          <li class="site-nav__item"><a href="#how-made">How it’s made?</a></li>
          <li class="site-nav__item"><a href="#our-products">Our products</a></li>
          <li class="site-nav__item"><a href="#contacts">Contact</a></li>
      </ul>
      
      <button type="button" class="mob-menu-btn" data-menu-button>
          <svg class="mob-menu-btn__icon" width="20" height="12" aria-label="переключатель мобильного меню">
             <use class="mob-menu-btn__icon--open" href=""></use>
             <use class="mob-menu-btn__icon--close" href=""></use>
          </svg>
      </button>
      <button class="header__button " type="button">Buy now
          <!-- <svg class="header__button--svg">
              <use href=""></use>
          </svg> -->
      </button>
    </nav>
</div>

<div class="mob-menu" data-menu>
    <div class="mob-menu__container">
        <button class="mob-menu__main-button " type="button">Buy now
            <!-- <svg class="mob-menu__main-button--svg">
                      <use href=""></use>
                  </svg> -->
        </button>

        <ul class="mobile-menu__list ">
            <li class="mob-menu__item current"><a href="">Home</a></li>
            <li class="mob-menu__item"><a href="#about-us">About us</a></li>
            <li class="mob-menu__item"><a href="#how-made">How it’s made?</a></li>
            <li class="mob-menu__item"><a href="#our-products">Our products</a></li>
            <li class="mob-menu__item"><a href="#contacts">Contact</a></li>
        </ul>



    </div>
</header>
