<header class="header" id="header-home">
  <div class="header__container container">
    <nav class="main-nav">
      <a href="/" class="header__logo">
        <picture>
          <source
            srcset="./images/logo-1x-min.png 1x, ./images/logo-2x-min.png 2x"
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="./images/logo-1x-min.png 1x, ./images/logo-2x-min.png 2x"
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="./images/logo-1x-min.png 1x, ./images/logo-2x-min.png 2x"
            media="(max-width: 767px)"
            type="image/png"
          />
          <img src="/images/logo-1x-min.png" alt="Логотип" />
        </picture>
      </a>
      <ul class="site-nav">
        <li class="site-nav__item current"><a href="#header-home">Home</a></li>
        <li class="site-nav__item"><a href="#header-about-us">About us</a></li>
        <li class="site-nav__item"><a href="#header-how-made">How it’s made?</a></li>
        <li class="site-nav__item"><a href="#header-our-products">Our products</a></li>
        <li class="site-nav__item"><a href="#header-contacts">Contact</a></li>
      </ul>

      <button type="button" class="mob-menu-btn" data-menu-button>
        <svg
          class="mob-menu-btn__icon"
          width="20"
          height="12"
          aria-label="переключатель мобильного меню"
        >
          <use class="mob-menu-btn__icon--open" href="/images/icons.svg#icon-menu-gamburg"></use>
          <use class="mob-menu-btn__icon--close" href="/images/icons.svg#icon-close1"></use>
        </svg>
      </button>
      <button class="header__button js-open-modal" type="button" data-modal="4">
        Buy now
        <svg class="header__button--svg" width="6px" height="10px">
          <use href="/images/icons.svg#icon-vector-button"></use>
        </svg>
      </button>
    </nav>
  </div>

  <div class="mob-menu" data-menu>
    <div class="mob-menu__container">
      <button class="mob-menu__main-button js-open-modal" type="button" data-modal="4">
        Buy now
        <svg class="mob-menu__main-button--svg" width="6px" height="10px">
          <use href="/images/icons.svg#icon-vector-button"></use>
        </svg>
      </button>
      <ul class="mobile-menu__list">
        <li class="mob-menu__item mob-menu__current">
          <a href="#header-home">Home</a>
        </li>
        <li class="mob-menu__item">
          <a href="#header-about-us">About us</a>
        </li>
        <li class="mob-menu__item">
          <a href="#header-how-made">How it’s made?</a>
        </li>
        <li class="mob-menu__item">
          <a href="#header-our-products">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a href="#header-contacts">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
