<footer class="foot">
  <div class="container">
    <div class="foot_slogan">
      <span>homemade ice cream made</span>
      <span>with passion</span>
    </div>
    <div class="foot_wrap-socials">
      <ul class="socials">
        <li class="socials__item">
          <a href="https://github.com/git-hab" class="socials__link"><svg class="socials__icon">
              <use href="/images/icons.svg#icon-social-networks1"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="https://web.telegram.org/z/" class="socials__link"><svg class="socials__icon">
              <use href="/images/icons.svg#icon-social-networks2"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="https://uk-ua.facebook.com" class="socials__link"><svg class="socials__icon">
              <use href="/images/icons.svg#icon-social-networks3"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <address class="address">
      <span>Feel free to contact&nbsp;</span><a href="tel:+610383766284 " class="address__link">+61 (0) 383 766 284</a>
    </address>
    <div class="foot_wrap-autor">
      <p class="foot_autor">&#169 2019 - IceCream.All Rights Reserved.</p>
    </div>
  </div>
</footer>
