<section class="main-hero__container">
  <div class="container main-hero__container-position">
    <div class="main-hero__content">
      <h1 class="main-hero__header">
        ice cream <br />
        made with<br />
        <span class="main-hero__header-accent">passion</span>
      </h1>
      <div class="main-hero__wrapper">
        <div class="main-hero__wrapper-margin">
          <span class="main-hero__text">16<span class="main-hero__text-color">cafes</span></span>
        </div>
        <div>
          <span class="main-hero__text"
            >23<span class="main-hero__text-color">food trucks</span></span
          >
        </div>
      </div>
    </div>
    <ul class="main-hero__list">
      <li>
        <button class="btn main-hero__btn-product" type="button">Products</button>
      </li>
      <li>
        <button class="btn-reverse main-hero__btn-made" type="button">How it&#xB4;s made?</button>
      </li>
    </ul>
    <div class="main-hero__bottom">
      <picture>
        <source
          srcset="./images/hero-milk-tab-1x-min.png 1x, ./images/hero-milk-desctop-2x-min.png 2x"
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="./images/hero-milk-tab-1x-min.png 1x, ./images/hero-milk-tab-2x-min.png 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <img src="./images/hero-milk-tab-1x-min.png" alt="" width="" height="" />
      </picture>
      <div>
        <p class="main-hero__title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button
          class="main-hero__btn-modal"
          type="button"
          aria-label="кнопка открытия модального окна"
        >
          &#x3E;
        </button>
      </div>
    </div>
    <picture>
      <source
        ssrcset="./images/group-hero-ice-desctop-1x-min.png 1x, ./images/group-hero-ice-desctop-2x-min.png 2x"
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/group-hero-ice-tab-1x-min.png 1x,
          ./images/group-hero-ice-tab-2x-min.png 2x
        "
        media="(min-width: 768px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/group-hero-ice-mob-1x-min.png 1x,
          ./images/group-hero-ice-mob-2x-min.png 2x
        "
        media="(min-width: 480px)"
        type="image/jpeg"
      />
      <img
        class="main-hero__icecream"
        src="./images/group-hero-ice-mob-1x-min.png"
        alt=""
        width=""
        height=""
      />
    </picture>
    <picture>
      <source
        srcset="./images/hero-girl-desctop-1x-min.png 1x, ./images/hero-girl-desctop-2x-min.png 2x"
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <source
        srcset="./images/hero-girl-tab-1x-min.png 1x, ./images/hero-girl-tab-2x-min.png 2x"
        media="(min-width: 768px)"
        type="image/jpeg"
      />
      <img
        class="main-hero__girl"
        src="./images/hero-girl-tab-1x-min.png"
        alt=""
        width="190"
        height="150"
      />
    </picture>
  </div>
</section>
