<footer class="foot">
  <div class="container foot__container">
    <div class="foot__slogan">
      <p class="foot__ice-cream">homemade ice cream made</p>
      <p class="foot__passion">with passion</p>
    </div>
    <div class="foot__group">
      <ul class="socials">
        <li class="socials__item">
          <a href="https://github.com/git-hab" class="socials__link" target="_blank"
            ><svg class="socials__icon" width="20" height="20">
              <use href="/images/icons.svg#icon-social-networks1"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="https://web.telegram.org/z/" class="socials__link" target="_blank"
            ><svg class="socials__icon" width="20" height="20">
              <use href="/images/icons.svg#icon-social-networks2"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="https://uk-ua.facebook.com" class="socials__link" target="_blank"
            ><svg class="socials__icon" width="20" height="20">
              <use href="/images/icons.svg#icon-social-networks3"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="foot__address">
        <p class="foot__contact">
          Feel free to contact&nbsp;<a href="tel:+610383766284" class="foot__link"
            >+61 (0) 383 766 284</a
          >
        </p>
      </address>
    </div>
  </div>
  <div class="foot__wrap-copyright">
    <p class="foot__copyright">
      &#169; 2019 - IceCream.<span class=""> All Rights Reserved.</span>
    </p>
  </div>
</footer>
