<section class="main-hero">
  <div>
    <h1 class="main-hero__header">
      ice cream <br />
      made with<br />
      <span class="main-hero__header-accent">passion</span>
    </h1>
    <button type="button">Products</button>
    <button type="button">How it&#xB4;s made?</button>
    <div>
      <span class="main-hero__text">16<span class="main-hero__text-color">cafes</span></span>
    </div>
    <div>
      <span class="main-hero__text">23<span class="main-hero__text-color">food trucks</span></span>
    </div>
  </div>
  <p class="main-hero__title">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et
  </p>
  <button type="button" aria-label="кнопка открытия модального окна">&#x3E;</button>
  <picture>
    <div class="main-hero__milk">
      <img src="" alt="" />
    </div>
    <div class="main-hero__icecream">
      <img src="" alt="" />
    </div>
    <div class="main-hero__girl">
      <img src="" alt="" />
    </div>
  </picture>
</section>
