<footer>
  <div class="container">
  <span>homemade ice cream made</span>
  <span>with passion</span>
  <div class="">
    <ul class="socials">
      <li class="socials__item">
        <a href=" " class="socials__link"><svg class="socials__icon" width="20 " height="20 ">
            <use href="./images/ikons.svg#icon-instagram-2"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a href=" " class="socials__link"><svg class="socials__icon" width="20 " height="20 ">
            <use href="./images/ikons.svg#icon-twitter-1"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a href=" " class="socials__link"><svg class="socials__icon" width="20 " height="20 ">
            <use href="./images/ikons.svg#icon-facebook-1"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <address class="addres">
    <span>Feel free to contact&nbsp;</span><a href="tel:+610383766284 " class="address__link">+61 (0) 383 766 284</a>
  </address>
  </div>
</footer>
