<!-- <p class="par">проба</p> -->

<div class="our-locations modal" data-modal="6">
  <button type="button" class="button modal-button--close js-modal-close">
    <svg class="icon" width="14" height="14">
      <use href="../src/images/icons.svg#icon-close1"></use>
    </svg>
  </button>
  <h2 class="our-locations__title">Cafe little cow</h2>
  <picture>
    <source
      srcset="./images/cream1-d-1x-min.png 1x, ./images/cream1-d-2x-min.png 2x"
      media="(min-width: 1200px)"
    />
    <source
      srcset="./images/cream1-t-1x-min.png 1x, ./images/cream1-t-2x-min.png 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/cream1-m-1x-min.png 1x, ./images/cream1-m-2x-min.png 2x"
      media="(min-width: 320px)"
    />
    <img src="images/cream1-min.jpg" alt=" фото морозиво" />
  </picture>
</div>

  <div class="our-locations modal" data-modal="7">
    <button type="button" class="button modal-button--close js-modal-close">
      <svg class="icon" width="14" height="14">
        <use href="../src/images/icons.svg#icon-close1"></use>
      </svg>
    </button>
    <h2 class="our-locations__title">Cafe white pearl</h2>
    <picture>
      <source
        srcset="./images/cream2-d-1x-min.png 1x, ./images/cream2-d-2x-min.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/cream2-d-1x-min.png 1x, ./images/cream2-t-2x-min.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/cream2-m-1x-min.png 1x, ./images/cream2-m-2x-min.png 2x"
        media="(min-width: 320px)"
      />
      <img src="images/cream2-min.jpg" alt=" фото морозиво" />
    </picture>
  </div>

  <div class="our-locations modal" data-modal="8">
    <button type="button" class="button modal-button--close js-modal-close">
      <svg class="icon" width="14" height="14">
        <use href="../src/images/icons.svg#icon-close1"></use>
      </svg>
    </button>
    <h2 class="our-locations__title">Cafe little cow</h2>
    <picture>
      <source
        srcset="./images/cream3-d-1x-min.png 1x, ./images/cream3-d-2x-min.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/cream3-t-1x-min.png 1x, ./images/cream3-t-2x-min.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/cream3-m-1x-min.png 1x, ./images/cream3-m-2x-min.png 2x"
        media="(min-width: 320px)"
      />
      <img src="images/cream3-min.jpg" alt=" фото морозиво" />
    </picture>
  </div>
</div>

    <!-- <iframe
    class="our-locations__map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d405345.4090883831!2d-84.87217567774869!3d37.46636433580282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8842fd372a5b59d7%3A0xef6e4822c4e85bef!2sBaskin-Robbins!5e0!3m2!1sru!2sua!4v1652100863283!5m2!1sru!2sua"
    style="border: 0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe> -->
    <!-- <div class="asd"> -->
    <!-- <h1>ItGid.info - адаптивный слайдер</h1> -->

    <!-- <div class="slider">
      <div class="slider-line">
        <img src="./images/111.jpg" alt="" />
        <img src="./images/112.jpg" alt="" />
        <img src="./images/113.jpg" alt="" />
        <img src="./images/114.jpg" alt="" />
        <img src="./images/115.jpg" alt="" />
      </div>
    </div>

    <button class="buttons slider-prev">Prev</button>
    <button class="buttons slider-next">Next</button> -->

    <!-- <div class="courses">
      <ul>
        <li><a href="https://itgid.info/course/javascript-2">JavaScript 2.0</a></li>
        <li><a href="https://itgid.info/course/html">HTML для JS разработчиков</a></li>
        <li>
          <a href="https://itgid.info/course/object-js">Объектно Ориентированный JavaScript</a>
        </li>
        <li><a href="https://itgid.info/course/reactjs">ReactJS</a></li>
      </ul>
    </div> -->
   
 
