<!-- Cекція products -->
<section class="products section" id="header-our-products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="product-card">
        <h3 class="product-card__name">ice cream</h3>
        <p class="product-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="product-card__btn js-open-modal" type="button" data-modal="6">
          <svg
            class="product-card__btn-icon"
            width="14"
            height="12"
            aria-label="кнопка вибору продукту"
          >
            <use href="/images/icons.svg/#icon-arrow-right-solid"></use>
          </svg>
        </button>
      </li>
      <li class="product-card">
        <h3 class="product-card__name">ice coffee</h3>
        <p class="product-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="product-card__btn js-open-modal" type="button" data-modal="7">
          <svg
            class="product-card__btn-icon"
            width="14"
            height="12"
            aria-label="кнопка вибору продукту"
          >
            <use href="/images/icons.svg/#icon-arrow-right-solid"></use>
          </svg>
        </button>
      </li>
      <li class="product-card">
        <h3 class="product-card__name">milkshakes</h3>
        <p class="product-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="product-card__btn js-open-modal" type="button" data-modal="8">
          <svg
            class="product-card__btn-icon"
            width="14"
            height="12"
            aria-label="кнопка вибору продукту"
          >
            <use href="/images/icons.svg/#icon-arrow-right-solid"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
