<!-- секція products -->
<section class="products section">
    <div class="container">
        <p class="products__subtitle">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <article class="product">
                    <h2 class="product__name">ice cream</h2>
                    <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="product__btn" type="button"></button>
                </article>
            </li>
            <li class="products__item">
                <article class="product">
                    <h2 class="product__name">ice coffee</h2>
                    <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="product__btn" type="button"></button>
                </article>
            </li>
            <li class="products__item">
                <article class="product">
                    <h2 class="product__name">milkshakes</h2>
                    <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="product__btn" type="button"></button>
                </article>
            </li>
        </ul>
    </div>
</section>