
  <div class="our-locations modal" data-modal="7">
    <button type="button" class="button modal-button--close js-modal-close">
      <svg class="icon" width="14" height="14">
        <use href="../src/images/icons.svg#icon-close1"></use>
      </svg>
    </button>
    <h2 class="our-locations__title">Cafe white pearl</h2>
    <picture class="img-sl">
      <source
        srcset="./images/cream2-d-1x-min.png 1x, ./images/cream2-d-2x-min.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/cream2-d-1x-min.png 1x, ./images/cream2-t-2x-min.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/cream2-m-1x-min.png 1x, ./images/cream2-m-2x-min.png 2x"
        media="(min-width: 320px)"
      />

      <img class="img-r" src="images/cream2-min.jpg" alt=" фото морозиво"/>

    </picture>
  </div>

  <div class="our-locations modal" data-modal="8">
    <button type="button" class="button modal-button--close js-modal-close">
      <svg class="icon" width="14" height="14">
        <use href="../src/images/icons.svg#icon-close1"></use>
      </svg>
    </button>
    <h2 class="our-locations__title">Cafe little cow</h2>
    <picture class="img-sl-2">
      <source
        srcset="./images/cream3-d-1x-min.jpg 1x,
         ./images/cream3-d-2x-min.jpg 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/cream3-t-1x-min.jpg 1x,
         ./images/cream3-t-2x-min.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/cream3-m-1x-min.jpg 1x, 
        ./images/cream3-m-2x-min.jpg 2x"
        media="(min-width: 320px)"
      />
      <img class="img-r" src="images/cream3-min.jpg" alt=" фото морозиво" />
    </picture>
  </div>
</div>

   