<section class="section reviews">
  <div class="container">
    <div class="reviews__slider">
      <div class="reviews__slider-card">
        <img src="" alt="" />
        <div class="reviews__card-quote">
          <p>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="reviews__card-customer">
          <h4 class="reviews__card-customer-name">Emily, Los Angeles</h4>
        </div>
      </div>
      <div class="reviews__slider-card">
        <img src="" alt="" />
        <div class="reviews__card-quote">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis mollitia rem
            obcaecati consequatur dignissimos facilis, deleniti sapiente dolor consequuntur nemo.
            Dolor repellendus explicabo reiciendis.
          </p>
        </div>
        <div class="reviews__card-customer">
          <h4 class="reviews__card-customer-name">Brianna, New York</h4>
        </div>
      </div>
      <div class="reviews__slider-card">
        <img src="" alt="" />
        <div class="reviews__card-quote">
          <p>
            Quis, enim atque eos ipsa commodi nostrum maxime necessitatibus laudantium iure quam
            quos! Minus vero reiciendis laborum odio voluptates quibusdam quae repellat.
          </p>
        </div>
        <div class="reviews__card-customer">
          <h4 class="reviews__card-customer-name">Anne, San Francisco</h4>
        </div>
      </div>
    </div>
  </div>
</section>
