.section--about {
    background-color: $bcg-light;
    
    
    @include tab {
        padding-top: 20px;
    }

    @include desk {
        padding-top: 60px;
    }
}

.section--about-bg {
    background-image: url(/images/made-milk-mob-2x-min.png);
    margin: 0 auto;
    @include tab {
        background-image: none;
    }
    @include desk {
        background-image: url(/images/made-milk-desctop-2x-min.png) ;
    }
    background-repeat: no-repeat;
    background-position: 50% 78%;
    background-size: contain;
    max-width: 1280px;
}

.about__title-box {
    width: 200px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;

    @include tab {
        width: 429px;
        margin-bottom: 40px;
    }

    @include desk {
        width: 534px;
        margin-bottom: 60px;
    }
}

.about__title--text {
    color: $text-secondary;
    
    font-family: $title-font;
    font-size: 18px;
    line-height: 1.16;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 15px;

    @include tab {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 16px;
    }

    @include desk {
        font-size: 30px;
        line-height: 1.13;
    }
}

.about__title {
    color: $main-btn;

    font-family: $title-font;
    font-size: 35px;
    line-height: 1.14;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    @include tab {
        font-size: 48px;
        line-height: 1.14;
    }

    @include desk {
        font-size: 58px;
        line-height: 1.13;
    }

    &:hover span { animation:bounce .6s; }
@keyframes bounce {
    0%,100%{ transform:translate(0); }
    25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
    50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}
}


.about__title span { display:inline-block; animation:float .2s ease-in-out infinite; }
    @keyframes float {
    0%,100%{ transform:none; }
    33%{ transform:translateY(-1px) rotate(-2deg); }
    66%{ transform:translateY(1px) rotate(2deg); }
}

.about__title span:nth-child(2){ animation-delay:.05s; }
.about__title span:nth-child(3){ animation-delay:.1s; }
.about__title span:nth-child(4){ animation-delay:.15s; }
.about__title span:nth-child(5){ animation-delay:.2s; }
.about__title span:nth-child(6){ animation-delay:.25s; }
.about__title span:nth-child(7){ animation-delay:.3s; }
.about__title span:nth-child(8){ animation-delay:.35s; }
.about__title span:nth-child(9){ animation-delay:.4s; }
.about__title span:nth-child(10){ animation-delay:.45s; }
.about__title span:nth-child(11){ animation-delay:.5s; }
.about__title span:nth-child(12){ animation-delay:.55s; }


.about__box {
    border-radius: 50px;
    transition: background-color 500ms ease, transform 500ms ease, box-shadow 500ms ease, backdrop-filter 500ms ease;
    @include tab {
        display: flex;
        justify-content: space-around;
        cursor: pointer;
        &:hover {
            transform: scale(1.03);
            background-color: rgba($color: #f1356d, $alpha: 0.07); 
            box-shadow: 5px 5px 15px 5px #FF8080, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);;
        }
    }

@include desk {
    border-radius: 100px;
        justify-content: normal;
        &:hover{
            backdrop-filter: blur(5px);
        // transform: scale(1.03);
        // background-color: rgba($color: #f1356d, $alpha: 0.07);
        // -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
        // box-shadow: 5px 5px 15px 5px #FF8080, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);;
        }
    } 
}

.about__img {
    width: 280px;
    @media screen and (max-width:767px) {
        margin-left: auto;
        margin-right: auto;
    }

    @include tab {
        width: 336px;
    }

    @include desk {
        width: 501px;
        margin-right: 139px;
    }
}

.about__text {
    font-family: $main-font;
    font-size: 12px;
    line-height: 1.58;
    font-weight: 500;

    // width: 220px;
    margin-right: 80px;

    &--top {
        color: $text-dark;
        margin-bottom: 25px;
        @include tab {
        font-size: 14px;
        line-height: 1.78;
        width: 334px;
        margin-right: 0;
        }
        @include desk {
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 32px;
        width: 463px;
        margin-right: 0;
        }
    }

    &--middle{
        color: $text-muted;
        margin-bottom: 20px;
        @include tab {
        font-size: 14px;
        line-height: 1.92;
        margin-bottom: 25px;
        width: 334px;
        margin-right: 0;
        }
        @include desk {
        margin-bottom: 40px;
        width: 463px;
        margin-right: 0;
        }
    }

    &--bottom {
        color: $text-muted;
        margin-bottom: 20px;
        @include tab {
        font-size: 14px;
        line-height: 1.92;
        margin-bottom: 40px;
        width: 334px;
        margin-right: 0;
        }
        @include desk {
        margin-bottom: 40px;
        width: 463px;
        margin-right: 0;
        }
    }

    @include tab {
        width: 334px;
    }

    @include desk {
        width: 463px;
    }
}

.about__list {
    margin-top: 40px;

    @include tab {
        margin-top: 0;
    }

    @include desk {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }
}

.about__btn {
    @extend %btn-reverse;
    border: 1px solid $secondary-btn;

    padding: 13px 37px;

    font-size: 14px;
    line-height: 1.28;
    font-weight: bold;
    
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus {
        border: 1px solid $main-btn-hover;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
    }

    &--svg {
        width: 5px;
        height: 8px;
        margin-left: 10px;
    }

    @include tab {
        font-size: 16px;
        line-height: 1.31;
    }

    @include desk {
        font-size: 16px;
        line-height: 1.31;

        width: 178px;
    }
}