.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  min-width: 320px;
  @include mob {
    width: 320px;
  }
  @include tab {
    width: 768px;
  }
  @include desk {
    width: 1280px;
  }
}
