.main-hero__container {
  background-color: $bcg-dark;
  padding-top: 136px;
  background-image: -moz-element();
  @include tab {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.main-hero__container-position {
  @extend .container;
  position: relative;
  z-index: 10;
  // margin-left: 20px;
}
.main-hero__header {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-white;
  @include tab {
      font-size: 22px;
      line-height: 1.14;
  }
}
.main-hero__header-accent {
  font-size: 48px;
  line-height: 0.96;
  color: $text-main;
@include tab {
  font-size: 34px;
    line-height: 0.91;
}
}
.main-hero__list {
  padding-bottom: 158px;
  display: flex;
  margin-top: 20px;
@include tab {
  padding-bottom: 0;
  margin-top: 7px;
  margin-bottom: 20px;
}
}
.main-hero__btn-product {
  @extend %btn;
  padding: 11px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25px;
  margin-right: 8px;
}
.main-hero__btn-made {
  @extend %btn-reverse;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25px;
  padding: 11px;
}
.main-hero__content {
  display: flex;
  align-items: center;
}
.main-hero__wrapper {
  display: none;
  @include tab {
  display: block;
  margin-left: auto;
  }
}
.main-hero__wrapper-margin {
  margin-bottom: 16px;
}
.main-hero__text {
  position: relative;
  display: block;
   font-family: 'Titan One';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    &::after {
      content: "";
      display: block;
      background-image: url(../images/hero-ellipse-tab-min.png);
      width: 16px;
      height: 16px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -3px;
      right: -10px;
      // transform: translate(50%, 50%);
      z-index: -1;
      @include desk {
        background-image: url(../images/hero-ellipse-desctop-min.png);
      }
      }
}
.main-hero__text-color {
  display: block;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #FFFFFF;
}
.main-hero__title {
  display: none;
    @include tab {
        display: block;
      }
}
.main-hero__btn-modal {
  display: none;
    @include tab {
        display: block;
          border: none;
            border-radius: 50%;
            background-color: #fff;
      }
}
.main-hero__bottom {
  display: none;
    @include tab {
        display: flex;
        align-items: center;
        margin-top: 20px;
      }
}
.main-hero__title {
  width: 114px;
  font-family: 'DM Sans';
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #FFFFFF;
}
.main-hero__icecream {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

  @include tab {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
}
.main-hero__girl{
  display: none;
  @include tab {
  display: block;
  position: absolute;
  bottom: -15px;
  right: 0;
  }
}
