.mob-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 35;
  top: 0;
  left: 100%;
  right: -400px;
  width: 100vw;
  height: 100vh;
  width: 250px;
  height: 502px;
  padding: 20px 0 20px 20px;
  transition: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $bcg-mob-menu;

  @media screen and (max-width: 1279px) {
    margin-left: auto;
  }

  &.is-open {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 35;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100%;
    width: 250px;
    padding: 20px 0 20px 20px;
    transition: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $bcg-mob-menu;
    @media screen and (min-width: 320px) and (max-width: 1279px) {
      margin-left: auto;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 254px;
    }
    &.is-open {
      position: fixed;
      top: 0;
      right: 0;
      box-shadow: (-8px 0px 20px rgba(0, 0, 0, 0.25));
    }
  }
}
.mob-menu-btn.is-open {
  position: fixed;
  top: 20px;
  right: 20px;
}

.mob-menu-btn.is-open .mob-menu-btn__icon--close {
  fill: #ffffff;
}


.mob-menu-btn {
  position: relative;
  display: block;
  z-index: 40;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  color: $main-btn;
}

@include desk {
  .mob-menu-btn {
    display: none;
  }
}

// .mob-menu-btn__icon {
//     color: $accent-hover;
// }

.mob-menu-btn .mob-menu-btn__icon--close {
  display: none;
}

.mob-menu-btn.is-open .mob-menu-btn__icon--close {
  display: block;
}

.mob-menu-btn.is-open .mob-menu-btn__icon--open {
  display: none;
}

.mob-menu-btn__icon--open,
.mob-menu-btn__icon--close {
  fill: $main-btn;
}

.mob-menu-btn:focus .mob-menu-btn__icon--close {
  fill: #ffffff;
}
//.current > a {
//  color: #d41443;
//}

.mob-menu__main-button {
  @extend %btn-reverse;
  display: inline-block;
  min-width: 209px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 22px;
  padding: 12px 37px 11px 38px;
  margin: 40px 0 19px 0;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;

  transition: background-color $anim-fast, box-shadow $anim-fast;
}

.mob-menu__main-button:focus,
.mob-menu__main-button:hover {

  background-color: $secondary-btn-hover;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);

}

.mob-menu__main-button--svg {
  margin-left: 32px;
}

.mob-menu__item {
  min-height: 42px;
  padding-top: 13px;

  border-top: 1px solid #e18298;
  color: $text-white;

  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
}

.mob-menu__item:last-child {
  border-bottom: 1px solid #e18298;
}

.current {
  color: $text-main;
}
.mob-menu__link {
  color: $text-white;
    transition-property: color;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__link:hover,
.mob-menu__link:focus {
  color: $accent-hover;
}

.hidden{
  visibility: hidden;
}

// .mob-menu__current {
//     color: $main-btn;
// }
