.read-more--open {
  padding: 11px 37px 12px 37px;
  border-radius: 22px;
  background-color: $secondary-btn;
  color: $main-btn;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: baseline;
  transition: background-color $ainim-fast;
  & .icon {
    fill: currentColor;
    margin-left: 13.5px;
  }
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
// .our-location--open {
//   padding: 11px 17px 12px 17px;
//   border-radius: 22px;
//   background-color: #d41342;
//   color: $secondary-btn;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.31;
//   display: flex;
//   align-items: baseline;
//   transition: background-color $ainim-fast;
//   & .icon {
//     fill: #ffff;
//     margin-left: 13.5px;
//   }
//   &:hover,
//   &:focus {
//     background-color: #c7133e;
//   }
// }
.franchise--open {
  padding: 11px 37px 12px 37px;
  border-radius: 22px;
  background-color: $secondary-btn;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: baseline;
  transition: background-color $ainim-fast;
  & .icon {
    fill: currentColor;
    margin-left: 13.5px;
  }
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  z-index: 10;
  transition: opacity $ainim-fast, visibility $ainim-fast;
}
.modal {
  opacity: 0;
  visibility: hidden;
}
.read-more {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 320px;
  padding: 30px 15px 15px 15px;
  background-color: $bcg-light;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  z-index: 20;
  transform: translate(100vw 100vh);
  transition: transform $ainim-fast, opacity $ainim-fast, visibility $ainim-fast;
  @media (max-width: 479px) {
    width: 100%;
  }
  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 590px;
  }
  &__button--close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $bcg-light;
    color: $main-btn;
    & .icon {
      fill: currentColor;
    }

  }
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-btn;
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    color: $text-muted;
    margin-bottom: 30px;
  }
  &__video {
    width: 100%;
    height: 315px;
  }
  &.active {
    transform: translate(-50%, -50%);
  }
}
.our-locations {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 320px;
  padding: 30px 15px 15px 15px;
  background-color: $bcg-light;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  z-index: 20;
  transform: translate(100vw 100vh);
  transition: transform $ainim-fast, opacity $ainim-fast, visibility $ainim-fast;
  @media (max-width: 479px) {
    width: 100%;
  }
  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 590px;
  }
  &__button--close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $bcg-light;
    color: rgba(212, 20, 67, 1);
    & .icon {
      fill: currentColor;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-btn;
    margin-bottom: 30px;
  }
  &__map {
    width: 100%;
    height: 450px;
  }
  &.active {
    transform: translate(-50%, -50%);
  }
}
.franchise {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 320px;
  padding: 30px 15px 15px 15px;
  background-color: #fff5f6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  z-index: 20;
  transform: translate(100vw 100vh);
  transition: transform $ainim-fast, opacity $ainim-fast, visibility $ainim-fast;
  @media (max-width: 479px) {
    width: 100%;
  }
  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 590px;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    color: $text-muted;
    margin-bottom: 30px;
  }
  &__button {
    margin-left: auto;
    margin-right: auto;
    padding: 11px 37px 12px 37px;
    border-radius: 22px;
    background-color: $secondary-btn;
    color: $text-main;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: baseline;
  }
  &.active {
    transform: translate(-50%, -50%);
  }
}

.hero-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 320px;
  padding: 30px 15px 15px 15px;
  background-color: #fff5f6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  z-index: 20;
  transform: translate(100vw 100vh);
  transition: transform $ainim-fast, opacity $ainim-fast, visibility $ainim-fast;

  @media (max-width: 479px) {
    width: 100%;
  }

  @media (min-width: 480px) {
    width: 480px;
  }

  @media (min-width: 768px) {
    width: 590px;
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.76;
    letter-spacing: 0.04em;
    // color: $text-main;
    margin-bottom: 5px;
  }

  &__table{
    border-collapse: collapse;
  }

  &__table-title{
    text-align: center;
    padding: 5px;
    background-color: $bcg-mob-menu;
    font-size: 16px;
    border-left: 1px solid $bcg-icon;
    border-right: 1px solid $bcg-icon;
  }

  &__table-text{
    text-align: center;
    border-left: 1px solid $bcg-icon;
    border-right: 1px solid $bcg-icon;
    border-bottom: 1px solid $bcg-icon;
    padding: 5px;
    font-size: 14px;

    &:first-child{
      border-left: none;
    }
    &:last-child{
      border-right: none;
    }

    &:nth-child(3n-2){
      background-color: $bcg-dark;
    }
  }

  &__button--close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $bcg-light;
    color: rgba(212, 20, 67, 1);
  
    & .icon {
      fill: currentColor;
    }
  }

  &.active {
    transform: translate(-50%, -50%);
  }
}
.overlay.active,
.modal.active {
  opacity: 1;
  visibility: visible;
}
