  .products-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 320px;
    min-height: 500px;

    padding: 30px 15px 15px 15px;
    background-color: #fff5f6;
    border: 2px solid $bcg-mob-menu;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    z-index: 70;
    overflow-y: auto;
    transform: translate(-50%, -50%) scale(0);
    transition: transform $anim-fast, opacity $anim-fast, visibility $anim-fast;
    @media (max-width: 479px) {
      width: 80%;
    }
    @media (max-height: 575px) {
      height: 100vh;
    }
    @media (min-width: 480px) {
      width: 480px;
    }
    @media (min-width: 768px) {
      width: 700px;
    }
  
    &.active {
      transform: translate(-50%, -50%);
    }
    &__title {
        font-family: $title-font;
        font-weight: 400;
        font-size: 22px;
        text-transform: uppercase;
        line-height: 1.76;
        letter-spacing: 0.04em;
        color: $text-main;
        margin-bottom: 30px;
        text-align: center;
      }
  }
///
.scene {
  border: 1px solid transparent;
  margin: 40px 0;
  position: relative;
  width: 210px;
  height: 140px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 190px;
  height: 190px;
  left: 10px;
  top: 10px;
  border: 2px solid $main-btn;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;

  &:hover {
    border: 4px solid $main-btn;
  }
}

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }

.button-box {
   display: flex;
  justify-content: center;

}
.previous-button, .next-button {
  margin-right: 10px;
  @extend %btn;
  padding: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.31;
  border-radius: 2px;
  }
